main{
    display: flex;
    justify-content: center;
    border-radius: 2;
    margin-top: 150px;
    

    .form-content{
        display: flex;
        flex-direction: column;
        gap: 20px;

        .form{
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: large;

            input,button{
                border-radius: 5px;
                padding-inline: 2rem;
                padding-block: 1rem;
            }
            

            button{
                margin-top: 20px;
                border-radius: 40px;
                font-size: large;
                background-color: aqua;
                cursor: pointer;
            }

            p{
                font-size: large;
                color: brown;

                .togle-btn{
                    color: blue;
                    text-decoration: none;
                }
            }
        }
    }
}