.story-container{
    display: flex;
    flex-direction: column;
    padding: 3rem;

    .story{
        display: flex;
        background: radial-gradient(at center, green, yellow, purple,red);
        height: 100px;
        width: 100px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;

        img{
            height: 88%;
            width: 90%;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
        }
    }
    h4{
        color: grey;
        margin-left: 30px;
        padding: 0.3rem;
    }
}