button{
            padding:1rem;
            font-size: large;
            margin-top: 15px;
            border-radius: 10px;
            background-color: rgb(130, 250, 210);
            color: rgb(9, 9, 85);
            cursor: pointer;
        }

        button:hover{
            scale: 0.9;
        }