.FormContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    .form-box{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;

        h1{
            color: rgb(130, 82, 226);
            padding: 2rem;
        }

        .form-container{
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            

            label{
                padding: 1rem;
                color: rgb(241, 239, 183);
                border: 2px white solid;
                border-radius: 10px;
                margin-right: 20px;
            }

            input{
                padding: 1rem;
                border-radius: 20px;
                font-size: large;
            }


        }

        button{
            padding:1rem;
            font-size: large;
            margin-top: 15px;
            border-radius: 10px;
            background-color: rgb(130, 250, 210);
            color: rgb(9, 9, 85);
            cursor: pointer;
        }

        button:hover{
            scale: 0.9;
        }

        p{
            padding: 2rem;

            .link{
                color: rgb(229, 10, 10);
                text-decoration: none;
                padding: 1rem;
                font-size: large;
            }
        }
    }
}

